PORT=8080
GIN_MODE=release
JWT_SECRET=SuperSecretBankingKey2026

# DATABASE CONFIGURATION
# Pilihan DB_DRIVER: "sqlite" atau "postgres"
DB_DRIVER=sqlite
DB_PATH=bank.db

# Parameter PostgreSQL (aktif saat DB_DRIVER=postgres)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bank_db
DB_SSLMODE=disable
